@import url(header.css);
@import url(main.css);

:root {
    --primary-color: #1F3A5F;
    --secondary-color: #E8A93B;
    --terciary-color: #B5502F;

    --background-color: #F5F2EC;
    --selected-background-color: #FBEAE4;
    --text-color: #000000;
    --selected-text-color: #7A3018;
    --border-color: #DCD1BC;

    --suport-color: #C1443C;
    --separation-color: #E4DFD3;

    --white-color: #FFFFFF;
    --dark-color: #000000;
}

* {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-weight: 400;
    background-color: var(--background-color);
}

h1,
h2 {
    font-size: 20px;
    font-weight: 500;
}

input,
textarea {
    font-size: 16px;
    outline: none;
}

hr {
    background-color: var(--separation-color);
    height: 1px;
    border: none;
}

.icon {
    font-size: 20px;
}