@import url(header.css);
@import url(main.css);

:root {
    --primary-color: #1F3A5F;
    --secondary-color: #E8A93B;
    --terciary-color: #B5502F;

    --background-color: #F5F2EC;
    --selected-background-color: #FBEAE4;
    --text-color: #000000;
    --border-color: #DCD1BC;
    --suport-color: #C1443C;
    

    --white-color: #FFFFFF;
    --dark-color: #000000;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    background-color: var(--background-color);
}

h1, h2 {
    font-size: 20px;
    font-weight: 500;
}

.icon {
    font-size: 20px;
}